$border-color: #D8D8B5;

.sign-in {

  &--modal-active {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    background: rgba(0,0,0, 0.8);
    z-index: 2;
  }

  
  &__form {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24rem;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: solid 1px $border-color;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
  }

  &__heading {
    margin-top: 0;
  }

  &__label {
    font-family: 'Ovo';
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    opacity: 0.6;
  }

  &__text-input {
    display: block;
    width: 16rem;
    text-align: center;
    margin-bottom: 1rem;
  }

}