@import './UIControls/UIControls';

.songbook {
	
	&__heading {
		display: inline-block;
	}

	&__artist-list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 32px;
	}
	&__song-list {
		display: grid;
		grid-template-columns: repeat( auto-fit, 17rem );
		grid-gap: 1rem;
		margin-bottom: 1rem;
	}
}

.artist {
	&__name {
		display: inline-block;
		font-family: 'muli';
		opacity: 0.6;
		letter-spacing: 0.05em;
		font-size: 1rem;
		margin-bottom: 0.75rem;
		margin-left: -0.75rem;
		&:hover {
			opacity: 0.75;
		}
	}

	&__song-list {
		@extend .songbook__song-list;
	}
}



// NOTE: seperate
.uic-order-btn {
	margin: 0.25rem 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.song {
	box-sizing: border-box;
	border: 1px solid rgba($off-bg, 0.4);
	padding: 0.75rem 0.75rem 0.625rem;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	&:hover {
		opacity: 1;
		background-color: rgba($off-bg, 0.4);
	}

	.controls {
		left: auto;
		right: 0.125rem;
    top: 0.25rem;
	}


	&__title {
		color: $primary;
		position: relative;
		font-size: 1.25rem;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__artist-name {
		color: $secondary;
		font-weight: 300;
		display: inline-block;
		font-family: 'muli';
		font-size: 0.9375rem;
    opacity: 0.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.25rem 0 0.125rem;
	}

	&__date {
		color: $secondary;
		font-size: 0.75rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.01em;
    opacity: 0.5;
		margin-bottom: 0;
	}
}