@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Muli-Light.ttf');
}
@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Ovo-Regular.ttf');
}