.song-title, h1 {
	font-size: 3rem;
	display: inline-block;
	font-family: 'Ovo';
	color: #D8D8B5;
	margin: 0.625rem 0;
}

.song-author {
	color: #D8D8B5;
	display: inline-block;
	font-family: 'Ovo';
	font-size: 1.5rem;
}

.song-section {
	display: flex;
	margin-bottom: 1rem;
}

.song-section__name {
	margin:0;
	cursor: default;
}

.line__lyrics-input,
.line__chord-input {
	margin: 0;
	padding: 1px 0;
	word-spacing: 0.15em;
}

.line__chord-input {
	cursor: pointer;
}

@keyframes fade-in {
	0% 		{ opacity: 0; transform: translate(0, -1.5em); }
	100%	{ opacity: 0.6; transform: translate(0, -1.2em); }
}

.line__chord {
	position: absolute;
	transform: translate(0, -1.2em);
	opacity: 0;
	font-size: 1.05rem;
	animation: fade-in 300ms 350ms 1 forwards;
}

.lines {
	width: 100%;
}

.line {
	transition: margin 250ms ease;
}

.line.expanded{
	margin: 1.8em 0;
}

.line:last-of-type,
.line.expanded:last-of-type {
	margin-bottom: 0;
}

.line__character {
	display: inline;
	white-space: pre-wrap;
}

.song {
	margin-top: 2rem;
	margin-left: 4.5rem;
}

.line__lyrics-input {
	width: 100%;
	display: block;
}