@import './Line/Line.scss';
@import './Section/Section.scss';
@import './UIControls/UIControls.scss';

.songsheet {
    
	&__title {
		display: inline-block;
		font-size: 2rem;
		margin-top: 0;
	}

	&__by {
		color: $primary;
		font-family: 'muli';
		margin-right: 0.5rem;
		opacity: 0.7;
	}

	&__artist {
		color: $primary;
		display: inline-block;
		font-family: 'Ovo';
		font-size: 1.25rem;
		margin-top: 0;
		margin-bottom: 2rem;
		opacity: 0.7;
		&:hover {
			opacity: 0.9;
		}

	}

	&__section {
		display: flex;
		margin-bottom: 1rem;
  }
}
