.book-controls {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__auth-song-priority {
    p {
      color: $primary;
      font-size: 0.9rem;
      display: inline-block;
      margin: 0 0.75rem 0 0;
      font-weight: bold;
    }
  }

  &__ordering-logic {
    display: flex;
    flex-direction: row;
  }

  &__select-container {
    margin: 0 0.25rem;
    height: rem(29px);
  }

  &__ordering-btn {
    padding-right: 1rem;
    margin: 0 0.25rem;
    position: relative;
    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: rem(5px);
      top: rem(8.5px);
      font-size: 0.5rem;
      .ascending & {
        transform: rotate(180deg);
      }
    }
    .alphabetical &[value="alphabetical"],
    .modified &[value="modified"],
    .created &[value="created"] {
      opacity: 0.95;
      &::after {
        content: "\25BC";
      }
    }
  }
}
